<%- include('../partials/admin/sidebar') %>

<link rel="stylesheet" href="/css/kiosk.css">

  <!-- HEADER -->
  <header class="main-header d-flex justify-content-between align-items-center">
    <h1 class="mb-0">Queue Management</h1>
  </header>

  <!-- MAIN CONTENT -->
  