<link rel="stylesheet" href="/css/announcement_article.css" />

<div class="card-container">
  <div class="card-wrapper">
    
    <a href="/announcement">
       <i class="ph ph-arrow-left arrow-left-icon"></i>
    </a>

    <div class="article-placeholder"></div>

  </div>
</div>

<div class="container-fluid">
  <div class="announcement-wrapper p-4 shadow-sm">
    <h5 class="text-center mb-4 other-announcement-title">Other Announcements</h5>
    <div class="other-announcements-scroll">
      </div>
  </div>
</div>


<script type="module" src="/js/announcement_article.js"></script>