<div class="content-card">
  <div class="breadcrumb-custom">
      Frequently Asked Questions > Enrollment Process > Question
  </div>

  <h2 class="page-title">Loading...</h2>
  <div class="byline">
      By: URSAC Registrar &nbsp;&nbsp; | &nbsp;&nbsp; Updated: <span id="updated-date">Loading...</span>
  </div>

  <div id="faq-details">Loading details...</div>

  <img id="faq-image" alt="FAQ Image" class="img-fluid" style="display: none;">


  <button class="go-back-btn">Go Back</button>
</div>



<script type="module" src="/js/faq_card.js"></script>