<main>
    <div class="faq-main-title parallax">
      <div class="faq-in-container">
        <div class="admin-breadcrumb-container">
          <a href="/faq" class="admin-breadcrumb mb-1 text-muted">Frequently Asked Questions</a>
          &gt;
          <a href="/faq_graduation_clearance" class="admin-breadcrumb mb-1 text-muted">Graduation & Clearance</a>
        </div>

        <h1 class="faq-menu-title">
          Graduation & <br> Clearance
        </h1>

        <!-- <div class="search-container">
          <input id="faq-search" class="search-bar" type="text" placeholder="Search...">
        </div> -->

        <div id="search-results" class="mt-3"></div>

      </div>
    </div>

    <div class="container my-5 d-flex flex-column align-items-center">
      <ol class="faq-list" style="padding-left: 1.5em;">
        <h5 class="mb-5 faq-title text-start" style="margin-left: -1em;">
          FREQUENTLY ASKED QUESTIONS:
        </h5>
        </ol>
    </div>
</main>


<script type="module" src="/js/faq_graduation_clearance.js"></script>