<section id="home" class="info-hub">
        <div class="info-text">
            <h2>REIGI : The general <br>information hub</h2>
            <p>
                The University of Rizal System- Antipolo Campus <br>
                registrar information kiosk and website. Browse your <br>
                inquiries with the button below!
            </p>
            <button id="faq-btn">See FAQ's</button>
        </div>

        <div class="faq-image-container">
            <video id="faqVideo" class="faqVideo" autoplay muted loop playsinline aria-label="FAQ Video">
                </video>
        </div>
    </section>

    <section id="announcement" class="updates-section">
        <h2><b>Today's Updates</b></h2>

        <div class="card-container" id="announcements-container">
            </div>

        <div class="see-more">
            <a href="/announcement" class="see-announcement-btn">See Announcements</a>
        </div>
    </section>

    <section id="academic-calendar" class="calendar-wrapper">
        <div class="calendar-card">
            <h2>Academic Calendar</h2>
            <h3>2025-2026</h3>
            <p class="subtitle">Click arrow to view calendar</p>

            <ul class="list-container">
                <li class="list-item-container">
                    <div class="list-item-content">
                        <i class="ph-light ph-greater-than arrow"></i>
                        <span class="dropdown-title">Undergraduate</span>
                    </div>
                    <img id="undergradCalendar" src="" alt="Undergraduate Calendar" class="calendar-image">
                </li>
                <li class="list-item-container">
                    <div class="list-item-content">
                        <i class="ph-light ph-greater-than arrow"></i>
                        <span class="dropdown-title">Graduate School</span>
                    </div>
                    <img id="gradCalendar" src="" alt="Graduate Calendar" class="calendar-image">
                </li>
            </ul>
        </div>
    </section>