.kiosk-body {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.kiosk-home h1 {
  font-size: 2rem;
  color: #333;
}

.kiosk-home button {
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
