<main>

<div class="announcement-main-title parallax" >
  <div class="announcement-in-container">
    <h1 class="announcement-menu-title">
      Announcements
    </h1>
  </div>
</div>

<div class="announcement-page">
  <aside class="sidebar">
    <div class="filter-search">
      <label for="search">Filter Search</label>
      <input type="text" id="search" name="search" placeholder="Search" />
    </div>
    
    <div class="filter-month">
      <label for="month">Month</label>
      <select id="month" name="month">
        <option value="default">Default</option>
        <option value="january">January</option>
        <option value="february">February</option>
        <option value="march">March</option>
        <option value="april">April</option>
        <option value="may">May</option>
        <option value="june">June</option>
        <option value="july">July</option>
        <option value="august">August</option>
        <option value="september">September</option>
        <option value="october">October</option>
        <option value="november">November</option>
        <option value="december">December</option>
      </select>
    </div>
  </aside>

  <div class="announcement-content">
    <div class="announcement-grid">
      </div>
  </div>
</div>

</main>

<script type="module" src="/js/announcement.js"></script>