<main>
    
<div class="faq-main-title parallax" >
      <div class="faq-in-container">
        <h1 class="faq-menu-title">
          Frequently Asked <br> Questions
        </h1>
        <div class="search-container">
          <input id="faq-search" class="search-bar" type="text" placeholder="Search..." >
        </div>

        <div id="search-results" class="mt-3"></div>

      </div>
    </div>

    <div class="faq-wrapper">
      <div class="faq-grid">
        <div class="faq-card">
          <div>
           <div class="faq-header">
               <div class="faq-title">Enrollment <br>Process</div>
               <i class="ph-bold ph-checks phosphor-icon"></i>
             </div>
             <div class="faq-desc">Everything you need before <br> diving into the semester.</div>
           </div>
           <a href="/faq_enrollment_process" class="faq-link">Read FAQs</a> 
         </div>
         
         <div class="faq-card">
           <div>
             <div class="faq-header">
               <div class="faq-title">Document Request</div>
               <i class="ph-bold ph-files phosphor-icon"></i>
             </div>
             <div class="faq-desc">Everything you need before <br> diving into the semester.</div>
         </div>
          <a href="/faq_document_request" class="faq-link">Read FAQs</a>
         </div>

         <div class="faq-card">
         <div>
            <div class="faq-header">
              <div class="faq-title">Graduation & Clearance</div>
            <i class="ph-bold ph-list-checks phosphor-icon"></i>
          </div>
          <div class="faq-desc">Everything you need before <br> diving into the semester.</div>
        </div>
        <a href="/faq_graduation_clearance" class="faq-link">Read FAQs</a>
       </div>

      </div>
    </div>

</main>

<script type="module" src="/js/faq_user_menu.js"></script>