/* faq enrollment process */
html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    scroll-behavior: smooth;
}

/* ! Scrollbar */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px; 
    margin: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #3066B3; 
    border-radius: 20px !important;
    border: 3px solid #f1f1f1; 
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3378d3; 
}

/* ! Parrallax */

.parallax {
  background-image: url("/img/try.webp");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .enrollment-banner {
  width: 100%;              
  background-color: #FCFCFC;
  padding: 5rem 1rem;       
  margin-top: 1rem;         
  box-sizing: border-box;   
  border-radius: 0;        
} */

.faq-main-title {
  display: flex;
  justify-content: center;
  text-align:center;
  padding: 5rem 0 4rem 0;
  /* background-image: url('../images/bg-faq.webp'); */
  /* height: 400px; */
}

.faq-in-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:60px 20px;
  width: 100%;
  height: 340px;
  gap: 1.5rem;
}

.faq-menu-title {
  font-size: 3.5rem; 
  font-weight:600; 
  color:#0154A4; 
  line-height:1.3;
}



.search-bar {
  padding:12px 16px;
  width:380px; 
  border:2px solid #ddd; 
  border-radius:8px; 
  font-size: 1rem; 
  outline:none; 
}



.text-muted {
  font-size: .5rem !important;
  font-weight: 600 !important;
  color: #2C2C2C !important;
}



/* .enrollment-process-text {
  font-size: 64px !important;
  font-weight: 600;
  color: #0055A5;
} */

.admin-breadcrumb {
  font-size: .5rem;
  color: #6c757d;
  text-decoration: none;
}


.search-bar .input-group-text:focus {
  outline: none !important;          
  box-shadow: none !important;
  border-color: #EBEFEC !important; 
}

.search-bar-text {
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
} */

.spacing {
  gap: 2rem; /* Adjust the gap value as needed */
}

.faq-wrapper {
  padding: 5rem;
  margin: 0;
  /* margin-top: 90px; */
  background-color: #fcfcfc;
}

.faq-grid {
  display: flex;
  gap: 2rem;
  justify-content: center;
}


.faq-title {
  font-size: 20px;
  font-weight: 600 !important;
  color: #2C2C2C !important;
}

.faq-list {
  list-style: decimal;
  /* padding-left: 1.5rem;  */
}

.faq-list li {
  margin-bottom: 1.5rem;
  font-size: 16px;
}

.faq-list li a {
  text-decoration: none;
  color: #2C2C2C;        
  font-weight: 500;
  gap: 2rem;
}

.faq-list li a {
  text-decoration: underline; 
}









