html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #F3F4F8;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

main {
    flex: 1;
}


/* ! navbar section */


.custom-navbar {
    background-color: #fcfcfc;
}

.navbar-brand {
    font-size: 1rem;
    font-weight: 700;
    color: #0055A5;
    pointer-events: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    line-height: 1.2;
    margin-left: 5rem;
}

.navbar-brand img {
    margin-right: 10px;
}

.campus-names {
    font-size: 12px;
    font-style: italic;
    color: #0154A4 !important;
    pointer-events: none;
    display: block;
    line-height: 1.2;
    font-weight: normal;
}

.nav-item .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #2B2B2B !important;
    margin-right: 2rem;
}



/* ! hover effects*/


.hover-effect {
    transform: translateY(1px);
    transition: 0.2s ease-out;
}

.hover-effect:hover {
    transform: translateY(0);
}

.hover-effect-f {
    display: inline-block;
    position: relative;
}

.hover-effect-f::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fcfcfc;
  transition: transform 0.25s ease-out;
}

.hover-effect-f:hover::after {
  transform: scaleX(1);
}

.hover-effect-f.center::after {
  transform-origin: bottom center;
}

.hover-effect-f.center:hover::after {
  transform-origin: bottom center;
}


/* ! footer section */

footer {
    background-color: #0055A5;
    color: #FCFCFC;
    padding: 20px;
}

.campus-name-footer {
    font-size: 11px;
    font-style: italic;
}

.list-unstyled li a {
    font-size: 1rem;
}

.spacer{
    margin-bottom: 1rem;
}

hr {
    border-color: #BFDCFE;
    opacity: 0.3;
}

footer p {
    font-size: 13px;
    color: #FFFFFF;
    font-weight: 100;
}

h6.fw-semibold {
    font-size: .8rem;
}

.list-unstyled li {
    font-size: 16px;
}

footer .col-md-3.d-flex.align-items-start {
    margin-bottom: 70px;
}

.footer-container {
    max-width: 90%; 
}

.footer-container {
    padding-top: 2rem;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.footer-col {
    flex: 1 1 150px;
}

.footer-col ul {
    padding-left: 0;
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 0.5rem;
}

.footer-col ul li a {
    color: #FCFCFC;
    text-decoration: none;
}

.col-md-9 ul.list-unstyled li {
    margin-bottom: 1rem;
}

.urs-logo-footer {
    width: 60px;
    margin-bottom: 1rem;
    margin-top: -5px;
}

.campus-name1-footer, .campus-name2-footer {
    margin-bottom: 26px;
    margin-left: -10px; 
}

.campus-name1-footer{
    line-height: 1.2;
    font-weight: 600;
}

.campus-name2-footer{
    font-weight: 300;
    font-size: 11px;
    font-style: italic;
    display: block;    
    top: -20px;
    line-height: 1; 
    position: relative;
}

.custom-line {            
  border-top: 2px solid #BFDCFE; 
  opacity: 0.5;
}

.navbar-collapse {
    margin-right: 5rem;
}

footer p {
    text-align: start;
    margin-top: 1rem;
    font-size: 13px;
    color: #FCFCFC;
    font-weight: 100px;
}

.campus-name {
    color: #0154A4 !important;
}



@media (max-width: 990px) {
    .navbar-brand {
        font-size: min(.8rem, 4vw);
        margin-left: 1rem;
    }

    .space-right {
        margin-right: 0rem !important;
    }

    .nav-item .nav-link {
        margin-right: 1rem;
        padding: 1rem;
    }

    .navbar-toggler {
        margin-right: 1rem;
    }

    .navbar-toggler-icon {
        font-size: min(1rem, 4vw);
    }

    .footer-col {
        flex: 1 1 100%;
    }

    #navbarNav {
        background-color: #fcfcfc;
        border-radius: 8px;       
        padding: 1rem;             
        margin-top: 10px;          
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    }

    #navbarNav .nav-link {
        margin-right: 0;        
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    #navbarNav .nav-link:last-child {
        border-bottom: none;
    }

    .container-text {
        max-width: 280px;   
    }

    #faqVideo {
       max-width: 400px !important;
       margin: 0 !important;
    }

    .info-hub {
        padding: 10rem 3rem !important;
    }

    #faqVideo.fixed {
        /* position: fixed; */
        top: 0 !important; right: 0 !important; width: 500px !important;
        cursor: pointer;
    }
    
}

@media (max-width: 650px) {

    .info-hub {
        flex-wrap: nowrap;
        padding: 10rem 1.5rem 2rem 1.5rem !important;
        display: flex;
        flex-direction: column;
    }

    .info-text {
        flex: 1;
        min-width: 220px;
        color: #222;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .info-text h2 {
        font-size: clamp(1.1rem, 1.5rem + 2vw, 3rem) !important;
    }

    .info-text p {
        font-size: clamp(.9rem, 0.6rem + 0.4vw, 1rem) !important;
        text-align: justify !important;
    }

    #faq-btn {
        background: #A2CDF8;
        border: none;
        font-size: clamp(.9rem, 0.6rem + 0.4vw, 1rem) !important;;
        border-radius: 10px;
        padding: 12px 24px;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 3px 5px 10px #BFD0F5;
    }       

    #faqVideo.fixed {
        /* position: fixed; */
        top: 0 !important; right: 0 !important; width: 500px !important;
        cursor: pointer;
    }

    #faqVideo {
        max-width: 320px !important;
        height: 28vh;
        margin-left: -.6rem !important;
        margin-top: 2.5rem !important;
    }

    .navbar-brand {
        font-size: min(.8rem, 4vw);
        margin-left: 1rem;
    }

    .space-right {
        margin-right: 0rem !important;
    }

    .nav-item .nav-link {
        margin-right: 1rem;
        padding: 1rem;
    }

    .navbar-toggler {
        margin-right: 1rem;
    }

    .navbar-toggler-icon {
        font-size: min(1rem, 4vw);
    }

    .footer-col {
        flex: 1 1 100%;
    }

    #navbarNav {
        background-color: #fcfcfc;
        border-radius: 8px;       
        padding: 1rem;             
        margin-top: 10px;          
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    }

    #navbarNav .nav-link {
        margin-right: 0;        
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    #navbarNav .nav-link:last-child {
        border-bottom: none;
        font-size: .8rem;
    }

    .updates-section h2 {
        font-size: clamp(1.2rem, 1.5rem + 2vw, 2.2rem);
        color: #222;
        padding: 1.5rem;
    }

    .see-more {
        padding: 1.5rem !important;
    }

    .calendar-card {
        background: #fcfcfc;
        padding: 2rem;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        margin:0 !important;
        margin-bottom: 100px;
        align-items: center;
        overflow: auto;
    }

    .calendar-card h2{
        font-weight: 700;
        padding: 1rem;
        color: #222;
    }
}