body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fcfcfc;
  margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.title-container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.title-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-text {
    font-size: 3rem;
    font-weight: 500;
    /* color: #191919; */
    color: #fcfcfc;
}

.h1-title-text {
    font-size: 3rem;
    font-weight: 600;
    color: #0057b8;
    margin: 0;
}

.date-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.time-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-text, .time-text, .AM-PM-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #191919;
    letter-spacing: .1rem;
}

.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0057b8;
    overflow-y: hidden;
}

.window-1-container, .window-2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    /* gap: 2rem; */
    /* border: 1px solid #e3e3e3; */
}

.container-content {
    height: 450px;
}

/* .container-ticket-number-window {
    border-radius: 1rem;
    padding: 1rem;
    width: fit-content;
} */

.border1 {
    border-right: 1px solid #fcfcfc !important;
}

.number-text-window{
    color: #fcfcfc;
    font-weight: 500;
    font-size: 10rem;
}

.number-text {
    color: #fcfcfc;
    font-size: 2.2rem;
}

.container-ticket-number {
    border-radius: 1rem;
    background-color: #0057b8;
    color: #fcfcfc;
    padding: 1.5rem;
    font-weight: 500;
    font-size: 4rem;
    width: fit-content;
}

.waiting-text-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.waiting-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.waiting-text {
    padding: 1.5rem;
    font-size: 2rem;
    color: #191919;
}

.tickets-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}