<link rel="stylesheet" href="/css/tv.css" />
        <div class="title-container1">
            <div class="title-text">
                <div class="logo-container">
                    <img src="/img/URS LOGO.png" width="45" alt="University of Rizal System Logo">
                </div>
                <h1 class="h1-title-text">Queue</h1>
            </div>
            <div class="date-text-container">
                <span class="date-text">MM/DD/YY</span>
                <div class="time-container">
                    <span class="time-text">00:00</span>
                    <span class="AM-PM-text">AM</span>
                </div>
            </div>
        </div>

        <div class="container-content">
    <div class="window-1-container border1">
        <span class="number-text-window" id="window-1-number">0</span>
        <h1 class="h1-text">WINDOW 1</h1>
    </div>
    <div class="window-2-container">
        <span class="number-text-window" id="window-2-number">0</span>
        <h1 class="h1-text">WINDOW 2</h1>
    </div>
</div>

<div class="group-container">
    <div class="waiting-container">
        <div class="waiting-text-container">
            <h2 class="waiting-text">Waiting:</h2>
        </div>
        <div class="tickets-container" id="normal-tickets">
            <!-- Waiting tickets will be dynamically inserted here -->
        </div>
    </div>
    <div class="priority-container">
        <div class="priority-text-container">
            <h2 class="priority-text">Priority Lane:</h2>
        </div>
         <div class="tickets-container" id="priority-tickets">
            <!-- Priority waiting tickets will be dynamically inserted here -->
        </div>
    </div>
</div>



<script type="module" src="/js/tv.js"></script>