<footer id="footer" class="text-white py-4">
    <div class="container footer-container">
        <div class="row align-items-center mb-5">
            <div class="col-md-3 d-flex align-items-start">
                <img src="/img/URS LOGO.png" alt="University of Rizal System Logo" class="me-3 urs-logo-footer">
                <div>
                    <div class="campus-name1-footer">University of <br> Rizal System</div>
                    <span class="campus-name2-footer">Antipolo Campus</span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3 mb-3 mb-md-0 text-start">
                        <h6 class="fw-semibold spacer">HOME</h6>
                        <ul class="list-unstyled">
                            <li><a href="/#faqVideo" class="text-white text-decoration-none hover-effect-f center">FAQ's Video</a></li>
                            <li><a href="/#announcement" class="text-white text-decoration-none hover-effect-f center">Today's Updates</a></li>
                            <li><a href="/#academic-calendar" class="text-white text-decoration-none hover-effect-f center">Academic Calendar</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0 text-start">
                        <h6 class="fw-semibold spacer">ANNOUNCEMENTS</h6>
                        <ul class="list-unstyled">
                            <li><a href="/announcement" class="text-white text-decoration-none hover-effect-f center">Latest Announcements</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0 text-start">
                        <h6 class="fw-semibold spacer">FREQUENTLY ASKED QUESTIONS</h6>
                        <ul class="list-unstyled">
                            <li><a href="/faq_enrollment_process" class="text-white text-decoration-none hover-effect-f center">Enrollment process</a></li>
                            <li><a href="/faq_document_request" class="text-white text-decoration-none hover-effect-f center">Document Request</a></li>
                            <li><a href="/faq_graduation_clearance" class="text-white text-decoration-none hover-effect-f center">Graduation & Clearance</a></li>
                            <li><a href="/registrar_info" class="text-white text-decoration-none hover-effect-f center">Registrar Info</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 text-start">
                        <h6 class="fw-semibold spacer">LINKS</h6>
                        <ul class="list-unstyled d-flex justify-content-start gap-3">
                            <li><a href="https://www.facebook.com/URSACAntipolo" class="text-white fs-5 hover-effect"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#" class="text-white fs-5 h" data-bs-toggle="modal" data-bs-target="#mapModal"><i class="fas fa-map"></i></a></li>
                            <li><a href="http://www.urs.edu.ph/" class="text-white fs-5 "><i class="fas fa-globe"></i></a></li>
                        </ul>

                        <div class="modal fade" id="mapModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body p-0">
                                        <iframe 
                                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.510734943718!2d121.1688121!3d14.5713826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397bf6aaab19e9d%3A0x2b0a49e247e195c!2sUniversity%20of%20Rizal%20System%2C%20Antipolo%20Campus!5e0!3m2!1sen!2sph!4v1691691691691!5m2!1sen!2sph" 
                                            style="border:0; width:100%; height:500px;" 
                                            allowfullscreen="" 
                                            loading="lazy">
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4 custom-line">
        <p class="text-start mb-0">© 2025 University of Rizal System - Antipolo Campus. All rights reserved.</p>
    </div>
</footer>